<!-- about section starts  --------------------------------------------------------->
<div class="about-preview">
  <h1
    class="text-start font-weight-bold title-color text-header-3 text-header-xl-1"
  >
    Về chúng tôi
  </h1>
  <div class="row">
    <div class="col-12 col-md-8 text-size-4 text-size-xl-2 text-color mt-5">
      <p>
        WisPay cung cấp nền tảng thanh toán an toàn, hiệu quả, giúp đơn giản hóa
        quy trình thanh toán cho doanh nghiệp. Sứ mệnh của chúng tôi là tối ưu
        hóa giao dịch, tăng cường tính minh bạch, giảm chi phí và đẩy nhanh chu
        kỳ thanh toán. Với dịch vụ xuất sắc và giải pháp tích hợp dễ dàng, chúng
        tôi cam kết mang lại hiệu quả tài chính và thành công cho doanh nghiệp
        trong thị trường cạnh tranh
      </p>
    </div>
  </div>
</div>
<div class="align-items-center">
  <div class="row gy-5 mb-5">
    <div class="col-12 col-md-6">
      <div class="card" style="background-color: rgba(233, 236, 241, 1)">
        <div class="about-content d-flex flex-column">
          <img src="assets/icon/icon-card-1.png" alt="" />
          <h2 class="text-header-5 text-header-xl-3 primary-color">
            Quản lý đơn hàng dễ dàng
          </h2>
          <p class="text-size-4 text-size-xl-3 text-black-color">
            Cập nhật trạng thái đơn hàng theo thời gian thực, dễ dàng theo dõi
            và kiểm soát chi tiết mọi giai đoạn của quá trình mua hàng, từ lúc
            khách hàng đặt hàng cho đến khi đơn hàng được giao.
          </p>
        </div>
        <div
          class="about-thumbnail"
          style="background-image: url(../assets/images/about-card-1.svg)"
        >
          <img src="assets/images/about-sider-1.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card h-100" style="background-color: rgba(61, 33, 152, 1)">
        <div class="about-content purple d-flex flex-column">
          <img src="assets/icon/icon-card-2.png" alt="" />
          <h2 class="text-header-5 text-header-xl-3 title-color">
            Giao dịch minh bạch, chính xác
          </h2>
          <p class="text-size-4 text-size-xl-3 text-color">
            WisPay giúp bạn theo dõi tất cả các giao dịch chi tiết và an toàn,
            nhanh chóng biết được trạng thái giao dịch, kịp thời giải quyết vấn
            đề đảm bảo mọi giao dịch diễn ra suôn sẻ và khách hàng luôn hài
            lòng.
          </p>
        </div>
        <div
          class="about-thumbnail purple flex-1"
          style="
            background-image: url(../assets/images/about-card-2.svg);
            margin-left: 7rem;
          "
        >
          <div class="position-relative" style="top: -3rem; left: -3rem">
            <img src="assets/images/about-sider-2.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card h-100 bg-pink">
        <div class="about-content card-3 d-flex flex-column">
          <h2 class="text-header-5 text-header-xl-3 primary-color">
            Cấu hình thanh toán nhanh chóng, tiện lợi
          </h2>
          <p class="text-size-4 text-size-xl-3 primary-color">
            Chỉ cần một kết nối duy nhất với WisPay là có thể tích hợp tất cả
            các phương thức thanh toán bạn mong muốn, từ ví điện tử đến chuyển
            khoản ngân hàng. Cấu hình đơn giản, nhanh chóng, tiết kiệm thời gian
            và công sức.
          </p>
        </div>
        <div class="about-thumbnail d-flex">
          <img src="assets/images/about-card-3.svg" alt="" class="card-3" />
        </div>
      </div>
    </div>
  </div>
</div>
