<!-- feedback section starts  ------------------------------------------------------>
<div class="feedback-preview">
  <h1
    class="text-start font-weight-bold title-color text-header-4 text-header-md-1"
  >
    Khách hàng nói gì về chúng tôi?
  </h1>
</div>

<div class="feedback-container">
  <div class="row gy-5 mb-5">
    <div class="col-12 col-md-4">
      <div class="card">
        <img src="assets/icon/quote-mark-purple.png" alt="" class="mb-5" />
        <p class="text-size-4 text-size-md-2 primary-color">
          Sử dụng WisPay là một quyết định sáng suốt cho doanh nghiệp của chúng
          tôi. Hệ thống tự động cập nhật giao dịch giúp chúng tôi tiết kiệm thời
          gian và công sức. Nhân viên của chúng tôi không còn phải lo lắng về
          việc kiểm tra thủ công nữa.
        </p>
        <div class="feedback-user mt-5 d-flex">
          <img src="assets/images/avatar-feedback.png" alt="" class="mr-4" />
          <div class="text-size-3 primary-color">
            <h3>Mr. Khoa Bùi</h3>
            <p>CEO, Công ty TNHH Thương mại dịch vụ Khoa Phát</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex align-items-end">
      <div class="card purple">
        <img src="assets/icon/quote-mark-white.png" alt="" class="mb-5" />
        <p class="text-size-4 text-size-md-2 text-color">
          Tôi rất hài lòng với tính năng cấu hình phương thức thanh toán của
          WisPay. Chỉ mất vài phút, chúng tôi đã có thể kết nối với nhiều ngân
          hàng và ví điện tử, giúp khách hàng dễ dàng thanh toán hơn
        </p>
        <div class="feedback-user mt-5 d-flex">
          <img src="assets/images/avatar-feedback.png" alt="" class="mr-4" />
          <div class="text-size-3 title-color">
            <h3>Hà Linh</h3>
            <p class="text-color">Giám đốc, Công ty TNHH Dịch vụ Hà Linh</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex align-items-end">
      <div class="card">
        <img src="assets/icon/quote-mark-purple.png" alt="" class="mb-5" />
        <p class="text-size-4 text-size-md-2 primary-color">
          WisPay là một giải pháp tuyệt vời cho doanh nghiệp nhỏ như chúng tôi.
          Tích hợp nhanh chóng, chi phí hợp lý và hỗ trợ nhiệt tình. Tôi rất hài
          lòng với dịch vụ của WisPay.
        </p>
        <div class="feedback-user mt-5 d-flex">
          <img src="assets/images/avatar-feedback.png" alt="" class="mr-4" />
          <div class="text-size-3 primary-color">
            <h3>Chị Ngọc Ánh</h3>
            <p>Chủ cửa hàng, Ngọc Ánh Boutique</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback-brand d-flex justify-content-between">
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div>
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div class="logo-tablet">
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div class="logo-tablet">
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
    <div class="logo-tablet">
      <img src="assets/icon/logo-empty.svg" alt="" />
    </div>
  </div>
</div>
