<!-- footer section starts  -------------------------------------------------------->
<section class="footer">
  <div class="footer-container">
    <div class="footer-title d-flex justify-content-between align-items-center">
      <p class="title-color text-header-5 text-header-md-2 text-left">
        Hãy để <span class="purple-light">WisPay</span> đồng hành cùng bạn trên
        con đường phát triển và thành công
      </p>
      <button class="btn">
        <p>Liên hệ chúng tôi</p>
        <div>
          <i class="bi bi-arrow-right"></i>
        </div>
      </button>
    </div>
    <div class="footer-info text-size-3 text-color text-left mb-5">
      <p>MST: 0318244600</p>
      <p>
        Địa chỉ: Số 79, đường B4, Khu đô thị Sala, An Lợi Đông, Thủ Đức, Hồ Chí
        Minh, Việt Nam.
      </p>
      <p>Email: business@wispay.com</p>
    </div>
    <div
      class="footer-credit d-flex justify-content-between align-items-center"
    >
      <div class="footer-sign d-flex justify-content-start align-items-center">
        <a
          href="#"
          class="logo d-flex align-items-center mr-3"
          style="text-decoration: none"
        >
          <img src="assets/images/logo.png" alt="" class="mr-3" />
          <p class="text-center text-size-3 text-size-md-1 title-color">
            WisPay
          </p></a
        >
        <p class="text-center text-size-3 text-color">
          Copyright © 2023 WisPay. All rights reserved.
        </p>
      </div>
      <div
        class="footer-social d-flex text-header-4 justify-content-between align-items-center"
        style="width: 10%"
      >
        <div class="social">
          <img src="assets/icon/IN.svg" alt="" />
        </div>
        <div class="social">
          <img src="assets/icon/YTB.svg" alt="" />
        </div>
        <div class="social">
          <img src="assets/icon/FB.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
