<!-- header section  --------------------------------------------------------------->
<header class="header fixed-top">
  <div class="header-container container">
    <a
      href="#"
      class="logo d-flex align-items-center mr-3"
      style="text-decoration: none"
    >
      <img src="assets/images/logo.png" alt="" class="mr-3" />
      <p class="text-center text-size-1 title-color">WisPay</p></a
    >

    <nav>
      <ul class="text-size-3">
        <li><a href="#home">Trang chủ</a></li>
        <li><a href="#about">Về chúng tôi</a></li>
        <li><a href="#process">Kết nối</a></li>
        <li><a href="#question">Câu hỏi thường gặp</a></li>
        <li>
          <button
            type="button"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            class="btn light"
          >
            Liên hệ ngay
          </button>
        </li>
        <li>
          <div class="language position-relative">
            <i class="bi bi-globe2"></i>
            <div class="language-dropdown position-absolute">
              <ul>
                <li>Tiếng Việt</li>
                <li>English (US)</li>
                <li>简体中文</li>
                <li>繁體中文</li>
                <li>한국어</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div id="list-mobile" class="list-button text-size-1">
      <i class="bi bi-list"></i>
      <i class="bi bi-x" style="display: none"></i>
    </div>
  </div>
  <div id="header-mobile container" class="header-mobile">
    <nav>
      <ul class="text-size-3 d-flex flex-column">
        <li><a href="#home">Trang chủ</a></li>
        <li><a href="#about">Về chúng tôi</a></li>
        <li><a href="#process">Kết nối</a></li>
        <li><a href="#question">Câu hỏi thường gặp</a></li>
        <li>
          <div id="language-mobile" class="language position-relative">
            <div class="d-flex justify-content-center align-items-center p-4">
              <i class="bi bi-globe2"></i>
              <p></p>
              <i class="bi bi-chevron-down"></i>
              <i class="bi bi-chevron-up" style="display: none"></i>
            </div>
            <div class="language-dropdown position-absolute">
              <ul>
                <li>Tiếng Việt</li>
                <li>English (US)</li>
                <li>简体中文</li>
                <li>繁體中文</li>
                <li>한국어</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <button
            type="button"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            class="btn"
          >
            Liên hệ ngay
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
