<!-- home section starts ----------------------------------------------------------->
<div class="row hero gy-5 mt-8 justify-content-start">
  <div class="col-xl-6 col-12 pl-3 d-flex flex-column justify-content-start">
    <div class="tag-note d-flex align-items-center px-4 text-size-4">
      <img src="assets/images/logo.png" alt="" class="mr-3 h-50" />
      <p>Giải pháp kỹ thuật số toàn diện</p>
    </div>
    <div class="my-4">
      <h1
        class="text-left text-header-4 text-header-xl-1 title-color font-weight-bold"
      >
        Thanh toán dễ dàng
      </h1>
      <h1
        class="text-left text-header-4 text-header-xl-1 title-color font-weight-bold"
      >
        Kinh doanh thuận lợi
      </h1>
      <p class="text-size-3 text-color">
        Kết nối mọi phương thức thanh toán chỉ với một lần kết hợp
      </p>
    </div>
    <div>
      <button class="btn" type="button">
        <p>Bắt đầu với Wispay</p>
        <div>
          <i class="bi bi-arrow-right"></i>
        </div>
      </button>
    </div>
  </div>
  <div class="col-xl-6 col-12 pl-3 d-flex">
    <img src="assets/images/flow-hero.svg" alt="" class="w-100" />
  </div>
</div>
