<!-- process section starts  ------------------------------------------------------->
<div class="process-preview">
  <h1
    class="text-start font-weight-bold title-color text-header-4 text-header-md-1"
  >
    Triển khai dễ dàng với 03 bước
  </h1>
</div>

<div class="process-container">
  <div class="row w-100">
    <div class="col-md-3 col-12">
      <div class="d-flex flex-column text-size-3 align-items-center">
        <div class="step-round mb-3">
          <div class="step-content text-header-md-5"><span>1</span></div>
        </div>
        <p class="text-header-md-4 text-center text-color">
          Đăng ký tài khoản WisPay
        </p>
      </div>
    </div>
    <div class="col-md-1 col-12">
      <div class="step-solid h-100"></div>
    </div>
    <div class="col-md-3 col-12">
      <div class="d-flex flex-column text-size-3 align-items-center">
        <div class="step-round mb-3">
          <div class="step-content text-header-md-5"><span>2</span></div>
        </div>
        <p class="text-header-md-4 text-center text-color">
          Cấu hình phương thức thanh toán
        </p>
      </div>
    </div>
    <div class="col-md-1 col-12">
      <div class="step-solid h-100"></div>
    </div>
    <div class="col-md-3 col-12">
      <div class="d-flex flex-column text-size-3 align-items-center">
        <div class="step-round mb-3">
          <div class="step-content text-header-md-5"><span>3</span></div>
        </div>
        <p class="text-header-md-4 text-center text-color">
          Trải nghiệm WisPay
        </p>
      </div>
    </div>
  </div>
  <div class="process-brand d-flex">
    <div class="row">
      <div class="col-12 col-md-4 p-4">
        <p class="text-size-3 text-size-md-2 text-color w-75 text-left">
          Hỗ trợ kết nối nhiều cổng thanh toán và ví điện tử
        </p>
      </div>
      <div class="col-12 col-md-8">
        <div class="d-flex justify-content-between flex-grow-1">
          <div>
            <img src="assets/icon/shoppePay.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/momo.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/zalopay.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/vnpay.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/payoo.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/asiapay.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/onepay.png" alt="" />
          </div>
          <div>
            <img src="assets/icon/acb.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
