<!-- question section starts  ------------------------------------------------------>
<div class="question-preview">
  <h1
    class="text-start font-weight-bold title-color text-header-4 text-header-md-1"
  >
    Câu hỏi thường gặp
  </h1>
</div>

<div class="question-container">
  <div class="question-card">
    <div class="text-size-2 text-header-md-4 d-flex justify-content-between">
      <h2>WisPay hỗ trợ những phương thức thanh toán nào?</h2>
      <i class="bi bi-plus"></i>
      <i class="bi bi-dash-lg" style="display: none"></i>
    </div>
    <p class="text-size-4 text-size-md-1">
      We charge fees to providers for using our services and our pricing tiers
      are based on payment volumes. Please get in touch with our team to receive
      a bespoke pricing proposal.
    </p>
  </div>
  <div class="question-card">
    <div class="text-size-2 text-header-md-4 d-flex justify-content-between">
      <h2>Giải pháp của bạn có giúp tôi tiết kiệm chi phí vận hành không?</h2>
      <i class="bi bi-plus"></i>
      <i class="bi bi-dash-lg" style="display: none"></i>
    </div>
    <p class="text-size-4 text-size-md-1">
      We charge fees to providers for using our services and our pricing tiers
      are based on payment volumes. Please get in touch with our team to receive
      a bespoke pricing proposal.
    </p>
  </div>
  <div class="question-card">
    <div class="text-size-2 text-header-md-4 d-flex justify-content-between">
      <h2>Dữ liệu giao dịch của tôi có được bảo mật không?</h2>
      <i class="bi bi-plus"></i>
      <i class="bi bi-dash-lg" style="display: none"></i>
    </div>
    <p class="text-size-4 text-size-md-1">
      We charge fees to providers for using our services and our pricing tiers
      are based on payment volumes. Please get in touch with our team to receive
      a bespoke pricing proposal.
    </p>
  </div>
  <div class="question-card">
    <div class="text-size-2 text-header-md-4 d-flex justify-content-between">
      <h2>
        Nếu tôi gặp sự cố trong quá trình sử dụng, tôi có thể liên hệ với ai?
      </h2>
      <i class="bi bi-plus"></i>
      <i class="bi bi-dash-lg" style="display: none"></i>
    </div>
    <p class="text-size-4 text-size-md-1">
      We charge fees to providers for using our services and our pricing tiers
      are based on payment volumes. Please get in touch with our team to receive
      a bespoke pricing proposal.
    </p>
  </div>
  <div class="question-card">
    <div class="text-size-2 text-header-md-4 d-flex justify-content-between">
      <h2>
        Làm thế nào để tích hợp giải pháp thanh toán của bạn vào website của
        tôi?
      </h2>
      <i class="bi bi-plus"></i>
      <i class="bi bi-dash-lg" style="display: none"></i>
    </div>
    <p class="text-size-4 text-size-md-1">
      We charge fees to providers for using our services and our pricing tiers
      are based on payment volumes. Please get in touch with our team to receive
      a bespoke pricing proposal. We charge fees to providers for using our
      services and our pricing tiers are based on payment volumes. Please get in
      touch with our team to receive a bespoke pricing proposal. We charge fees
      to providers for using our services and our pricing tiers are based on
      payment volumes. Please get in touch with our team to receive a bespoke
      pricing proposal.
    </p>
  </div>
</div>
