<!-- service section starts   ------------------------------------------------------>
<div class="process-preview">
  <h1
    class="text-start font-weight-bold title-color text-header-4 text-header-md-1"
  >
    Đăng ký sử dụng dịch vụ WisPay
  </h1>
</div>

<div class="service-container position-relative">
  <div class="row">
    <div class="col-12 col-md-6 text-size-4 text-header-xl-5">
      <div class="tag-note tag-arrow d-flex align-items-center p-4">
        <img src="assets/images/logo.png" alt="" class="mr-4" />
        <p>Chọn đăng ký doanh nghiệp</p>
      </div>
      <div class="tag-note tag-arrow below d-flex align-items-center p-4">
        <img src="assets/images/logo.png" alt="" class="mr-4" />
        <p>Điền đầy đủ các thông tin để đăng ký</p>
      </div>
      <div class="tag-note d-flex align-items-center p-4">
        <img src="assets/images/logo.png" alt="" class="mr-4" />
        <p>
          Sau khi hoàn tất đăng ký, chúng tôi sẽ liên hệ với bạn trong thời gian
          ngắn nhất
        </p>
      </div>
    </div>
    <div class="service-thumbnail col-12 col-md-6">
      <img src="assets/images/service-bg.png" alt="" class="w-100" />
    </div>
  </div>
</div>
